<h2> Graduate Representatives </h2>

<ul>{% for gradrep in site.GradReps %}
    {% if gradrep.picture %}
       	<img src="{{gradrep.picture}}" name="picture" alt="photo" width="150" align="right" border="0" height="150">
    {% endif %}
    <li> {% if gradrep.email %}<a href="mailto:{{ gradrep.email }}">{{ gradrep.name }}</a>
    {% else %}{{ gradrep.name }}{% endif %}
    <ul>
        {% for position in gradrep.positions %}
            {% if position.link %}
                <li><a href="{{ position.link }}">{{ position.position }}</a></li>
            {% else %}
                <li>{{ position.position }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if gradrep.description %}
    <p> {{ gradrep.description }} </p>
    {% endif %}
    </li>
    <br>
    <br>
{% endfor %}
</ul>
