---
layout: default
---
<div class="post">

  <header class="post-header">
    {% if page.picture %}
        <img src="{{page.picture}}" class="picture" alt="photo" width="200" align="right" border="0" height="200">
    {% endif %}
    <h1 class="post-title">{{ page.name }}</h1>
    {% if page.title %}
        <h2>{{ page.title }}</h2>
    {% endif %}
    {% if page.positions %}
        <p class="post-meta">
            {% for position in page.positions %}
                {{ position.position }}{% if forloop.last == false %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    <a href='{{page.webpage}}'>{{page.webpage}}</a>
    <h5>{{page.email}}</h5>
    </header>

    <article class="post-content">
        {% if content.size != 1 %}
            {{ content }}
        {% else %}
            {{ page.description }}
        {% endif %}
    </article>

</div>
